@import "../../style/variables.scss";

#headProfile>div {
    position: absolute;
    top: 2px;
    right: 100px;
    display: grid;
    grid-template-columns: [first] 30px [col2] 30px [col3] 30px [col4] 30px [col5] auto [end];
    grid-template-rows:[line1] 30px [line2] 30px [line3] 40px [line3];
    grid-template-areas:". profile1 profile2 profile3 self" "profile4 profile5 profile6 profile7 self" ". . . . self";

    @for $i from 1 to 8 {
        .profile:nth-child(#{$i}) {
            grid-area: profile#{$i};
        }
    }

    .profile:last-child, .profile-load {
        grid-area: self;
        border-radius: 0;
        display: flex;
        justify-content: flex-start;
        border: none;
        margin: 0 10px;

        .inner {
            width: 90px;
            height: 90px;
            border: 5px solid $primaryColor;
            border-radius: 4px;
            box-shadow: 0 2px 3px rgba(0,0,0,.26);
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        img {
            height: 100%;
            border: 1px solid rgba(0,0,0,0.3);
        }
    }

    .profile {
        overflow: hidden;
        border-radius: 50%;
        margin: 1px;
        border: 2px solid rgba(0, 0, 0, .5);
        img {
            width: 100%;
        }

        &.online {border: 2px solid #8BC34A;}
        &.inactive {border: 2px solid #FF9800;}
    }
}