@-webkit-keyframes cluster-pulse {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}
@keyframes cluster-pulse {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}

* {
  font-family: 'Acme', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#app,
#clusterApp {
  height: 100%;
  background: #fafafa;
}

.navlink {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 64px;
  margin-left: 1rem;
  padding: 0 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.navlink.active {
  opacity: 1;
  border-bottom-color: #18ffff;
}

.navlink.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .5;
}


@-webkit-keyframes cluster-pulse {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}

@keyframes cluster-pulse {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}

#cluster {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 560px;
  margin: 0 auto 25px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cluster h2 {
  height: 30px;
  margin: 0 0 30px 0;
}

#cluster .circle {
  position: relative;
  width: calc(100% - 50px);
  height: 450px;
  border: 4px solid #fbc02d;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #f9a825, 0 0 0 8px #f57f17;
          box-shadow: 0 0 0 4px #f9a825, 0 0 0 8px #f57f17;
}

#cluster .circle .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cluster .circle .profile {
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

#cluster .circle .profile .inner {
  position: relative;
  width: 100px;
  height: 100px;
}

#cluster .circle .profile .inner .flag {
  position: absolute;
  z-index: 2;
  bottom: -3px;
  left: 1px;
}

#cluster .circle .profile .inner .name {
  position: absolute;
  bottom: -.5rem;
  width: 100%;
  height: 1.5rem;
  padding: .2rem 0;
  padding-left: calc(20px + 5px);
  text-align: left;
  text-transform: capitalize;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

#cluster .circle .profile .inner .img-wrapper {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
}

#cluster .circle .profile .inner .img-wrapper img {
  width: 100%;
}

#cluster .circle .profile:nth-child(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#cluster .circle .profile:nth-child(0) .inner {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#cluster .circle .profile:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#cluster .circle .profile:nth-child(1) .inner {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#cluster .circle .profile:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#cluster .circle .profile:nth-child(2) .inner {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#cluster .circle .profile:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#cluster .circle .profile:nth-child(3) .inner {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#cluster .circle .profile:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#cluster .circle .profile:nth-child(4) .inner {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

#cluster .circle .profile:nth-child(5) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#cluster .circle .profile:nth-child(5) .inner {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

#cluster .circle .profile:nth-child(6) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#cluster .circle .profile:nth-child(6) .inner {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

#cluster .circle .profile:nth-child(7) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

#cluster .circle .profile:nth-child(7) .inner {
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

#cluster .circle:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-animation-name: cluster-pulse;
          animation-name: cluster-pulse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  border-radius: 50%;
}


#headProfile > div {
  position: absolute;
  top: 0;
  right: calc(32px + 1rem);
  display: grid;
  grid-template-columns: [first] 30px [col2] 30px [col3] 30px [col4] 30px [col5] auto [end];
  grid-template-rows: [line1] 30px [line2] 30px [line3] 40px [line3];
  grid-template-areas: '. profile1 profile2 profile3 self' 'profile4 profile5 profile6 profile7 self' '. . . . self';
}

#headProfile > div .profile:nth-child(1) {
  grid-area: profile1;
}

#headProfile > div .profile:nth-child(2) {
  grid-area: profile2;
}

#headProfile > div .profile:nth-child(3) {
  grid-area: profile3;
}

#headProfile > div .profile:nth-child(4) {
  grid-area: profile4;
}

#headProfile > div .profile:nth-child(5) {
  grid-area: profile5;
}

#headProfile > div .profile:nth-child(6) {
  grid-area: profile6;
}

#headProfile > div .profile:nth-child(7) {
  grid-area: profile7;
}

#headProfile > div .profile:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  grid-area: self;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#headProfile > div .profile:last-child .inner {
  width: 90px;
  height: 90px;
  border: 5px solid #2f4154;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

#headProfile > div .profile:last-child img {
  height: 100%;
}

#headProfile > div .profile {
  overflow: hidden;
  margin: 5px;
  border-radius: 50%;
}

#headProfile > div .profile img {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 600px;
  height: 64px;
  background: #2f4154;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  position: relative;
  margin: 0 1rem;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  text-shadow: 1px 3px 1px #def, 0 0 0 #000, 1px 3px 1px #def;
}

header h1 a,
header h1 a:focus,
header h1 a:active,
header h1 a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
}

header h1::before {
  font-size: 1.5em;
  font-weight: 400;
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -2px;
  content: '\1F30D';
  opacity: .8;
  color: #2196f3;
}

header .navIcon {
  margin-right: 1rem;
  margin-left: auto;
}



main {
  height: calc(100% - 64px);
  padding-top: 1rem;
}


