@import "../../style/variables.scss";

main {
    min-height: calc(100% - #{$footerHeight});
    display: flex;
    background: #fafafa;
    padding-top: $headerHeight;

    // container de la page affichee
    &>div.wrapper {
        flex: 3;
        overflow-y: auto;
        order: 1;
        min-width: 400px;
        padding-bottom: 1rem;
    }

    &>aside {
        padding-top:30px;
    }
}