@import "../../utils/variables.scss";

main {
    height: calc(100% - #{$headerHeight});
    display: flex;
    background: #fafafa;

    &>div:first-child {
        flex: 1;
    }

    &>div {
        padding-top:30px;
    }
}