@import "../../utils/variables.scss";

main {
    height: calc(100% - #{$headerHeight});
    display: flex;
    background: #fafafa;

    // container de la page affichee
    &>div:first-child {
        flex: 1;
        overflow-y: auto;
    }

    &>aside {
        padding-top:30px;
    }
}