//-------------------general---------------------//
$primaryColor:#2f4154;
$subColor:#F9A825;
$subColorLight:#FBC02D;
$subColorDark:#F57F17;
$mainFont: 'Droid Sans', sans-serif;
$titleFont: 'PT Sans Narrow', sans-serif;
$highlight: #18FFFF;
//---------------------Header--------------------//
$header-back: #2f4154;
$headerHeight: 64px;
$white: #fafafa;
$flag-width: 20px;

//---------------------Footer--------------------//
$footerHeight: 30px;
$footerBackground: #2f4154;