//-------------------general---------------------//
$primaryColor:#2f4154;
$subColor:#F9A825;
$subColorLight:#FBC02D;
$subColorDark:#F57F17;
//---------------------Header--------------------//
$header-back: #2f4154;
$headerHeight: 64px;
$white: #fafafa;
$flag-width: 20px;