@import "../../style/variables.scss";

$sidebarMargin: 1rem;

#sidebar {
    &>div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .messages {
        overflow-y: auto;
        height: calc(100% - 84px - #{$sidebarMargin});
        margin-bottom: $sidebarMargin;
    }

    .message:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}