@import "../../style/variables.scss";

#cluster-page {
    height: calc(100% - 1rem);

    .main-content {
        height: 100%;

        .card {
            height: 100%;
        }
    }

    .chips {
        position:absolute;
        top:1rem;
        right:0;
        display: flex;
        &>div {
            margin-right: 1rem !important;
        }
    }

}